<div class="my-4" [hidden]='_submit'>
    <form #formStudent="ngForm" (ngSubmit)="submitEdit(formStudent)" *ngIf="student" class="was-validated my-form text-primary" oninput='repass.setCustomValidity(repass.value != newpass.value ? "Passwordsc" : "")'>
        <h4 class="text-center pt-4 text-info text-monospace">Cập Nhật Mật Khẩu</h4>
        <hr class="border-info" />
        <div class="form-row">
            <div class="col-md-2 offset-md-3">
                <label for="username">Tên Đăng Nhập:</label>
            </div>
            <div class="col-md-4 form-group ">
                <input [(ngModel)]="student.username" name="username" type="text" class="form-control" readonly>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-2 offset-md-3">
                <label for="exampleInputPassword1">Mật Khẩu Cũ:</label>
            </div>
            <div class="form-group col-md-4" *ngIf="!check">
                <input [(ngModel)]="student.password" type="password" class="form-control" name="password" readonly>
            </div>
            <div class="form-group col-md-4" *ngIf="check">
                <input [(ngModel)]="student.password" type="text" class="form-control" name="password" readonly>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-2 offset-md-3">
                <label for="exampleInputPassword1">Mật Khẩu Mới:</label>
            </div>
            <div class="form-group col-md-4" *ngIf="!check">
                <input [(ngModel)]="formEdit.newpass" name="newpass" type="password" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,20}" required>
                <div class="invalid-feedback">1 chữ hoa,1 chữ thường,1 chữ số và từ 5-20 kí tự</div>
            </div>
            <div class="form-group col-md-4" *ngIf="check">
                <input [(ngModel)]="formEdit.newpass" name="newpass" type="text" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,20}" required>
                <div class="invalid-feedback">1 chữ hoa,1 chữ thường,1 chữ số và từ 5-20 kí tự</div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-2 offset-md-3">
                <label for="exampleInputPassword2">Xác Nhận:</label>
            </div>
            <div class="form-group col-md-4" *ngIf="!check">
                <input [(ngModel)]="formEdit.repass" name="repass" type="password" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,20}" required>
                <div class="invalid-feedback">Mật khẩu phải giống nhau</div>
            </div>
            <div class="form-group col-md-4" *ngIf="check">
                <input [(ngModel)]="formEdit.repass" name="repass" type="text" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,20}" required>
                <div class="invalid-feedback">Mật khẩu phải giống nhau</div>
            </div>
        </div>

        <div class="form-row pl-2">
            <div class="form-check form-group offset-md-5">
                <input [(ngModel)]="check" id="hmk" class="form-check-input" type="checkbox" name="check">
                <label class="form-check-label text-blue" for="hmk">Hiện Mật Khẩu</label>
            </div>
        </div>

        <hr class="border-info" />
        <div class="form-row">
            <div class="form-group col-md-4 offset-md-5">
                <button [disabled]="formStudent.invalid" type="submit" class="btn btn-info">
					XÁC NHẬN
				</button>
            </div>
        </div>
    </form>
</div>