<nav class="navbar navbar-dark bg-dark">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link " [routerLink]="['/trangchu2']">Trang chủ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">giới thiệu </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">hỗ trợ </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">hỏi đáp </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">khu vực bài tập</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">tài khoản</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" [routerLink]="['/dangky']">đăng ký</a>
                <a class="dropdown-item" [routerLink]="['/dangnhap']">đăng nhập</a>
                <a class="dropdown-item" [routerLink]="['/qmk']">quên mật khẩu</a>
                <a class="dropdown-item" [routerLink]="['/dmk']">đổi mật khẩu</a>

                <div class="dropdown-divider"></div>
                <a class="dropdown-item" [routerLink]="['/trangchu1']">đăng xuất</a>
            </div>
        </li>
    </ul>
</nav>





<div class="row mb-2">
    <div class="col-md-3 mb-4">
        <nav class="nav flex-column my-img pb-1 px-1">
            <h5 class="mt-3 text-center text-blue">
                <i class="far fa-list-alt mr-1 text-red"></i>
                <span>DANH MỤC MÔN HỌC</span>
            </h5>
            <span class="my-bd-2 mb-1"></span>
            <a *ngFor="let subje of subjects" class="img-bgr hvr-icon-pulse-grow nav-link my-bd-1 glow-on-hover mb-1" [routerLink]="['/danhmucmonhoc',subje.Id]" (click)="newPage(subje)" (click)="onSelectSubject(subje)" (click)="resetTime()">
                <i class="fas fa-caret-right pl-0 mr-1 text-blue hvr-icon"></i>
                <span>{{subje.Name}}</span>
            </a>
        </nav>
    </div>

    <div class="col-md-9" id="training">
        <div *ngIf="!selectSubject" class="mb-4 text-primary">
            <h5 class="card-header bg-quiz">
                <div>
                    <span class="text-success mr-2">Môn Thi&nbsp;&nbsp;&nbsp;:</span>
                    <span>{{subject.Name}}</span>
                </div>
                <div class="mt-2">
                    <span class="text-success mr-2">Thời Gian:</span>
                    <img src="assets/images/clock.png" class="mr-1 pb-2" alt="" style="max-width: 35px">
                    <span class="bg-black text-center txtshadow text-white px-2 p-1" id="timer">45':00</span>
                    <span *ngIf="showTime" class="show fade ml-4">
						<button type="button" class="btn txtshadow btn-sm btn-danger" (click)="startTime()" (click)="firstPage()">
							BẮT ĐẦU
						</button>
					</span>
                </div>
            </h5>
        </div>

        <div *ngIf="selectSubject" class="mb-4 text-primary">
            <h5 class="card-header bg-quiz">
                <div>
                    <span class="text-success mr-2">Môn Thi&nbsp;&nbsp;&nbsp;:</span>
                    <span>{{selectSubject.Name}}</span>
                </div>
                <div class="mt-1">
                    <span class="text-success mr-2">Thời Gian:</span>
                    <img src="assets/images/clock.png" class="mr-1 pb-2" alt="" style="max-width: 35px">
                    <span class="bg-black text-center txtshadow text-white px-2 p-1" id="timer">45':00</span>
                    <span *ngIf="showTime" class="show fade ml-4">
						<button type="button" class="btn txtshadow btn-sm btn-danger" (click)="startTime()" (click)="firstPage()">
							BẮT ĐẦU
						</button>
					</span>
                </div>
            </h5>
        </div>

        <div *ngFor="let ques of quizs|paginate:{itemsPerPage:rowpage,currentPage:page}" class="card">
            <div class="card-header pl-1 mb-4 bg-quiz bd2">
                <span class="text-danger font-weight-bold">Câu {{page}}- </span>
                <span class="text-blue">{{ques.Text}}</span>
            </div>
            <div *ngFor="let Ans of ques.Answers" class="ml-5 mb-3 text-primary">
                <input [(ngModel)]="answers[page-1]" name="{{ques.Id}}" id="{{Ans.Id}}" value="{{Ans.Id}}" class="form-check-input" type="radio">
                <label for="{{Ans.Id}}">{{Ans.Text}}</label>
            </div>
            <div class="card-footer bg-quiz h5 mb-0 pb-0">
                <span class="text-info">Tổng Số Câu Hỏi:</span>
                <span class="text-muted">&nbsp;{{totalM()}}</span>
                <button (click)="endTime()" type="button" class="mb-2 txtshadow bor btn btn-info float-right border-info">
					GỬI BÀI
				</button>
            </div>
        </div>
        <div *ngIf="!onShowPage" class="pagination justify-content-center text-primary my-4">
            <i class="disabled btn btn-outline-dark text-muted far fa-hand-point-up"></i>
            <i class="disabled btn btn-outline-dark text-muted mx-3 far fa-hand-point-left"></i>
            <i class="disabled btn btn-outline-dark text-muted far fa-hand-point-right"></i>
            <i class="disabled btn btn-outline-dark text-muted ml-3 far fa-hand-point-down"></i>
        </div>
        <div *ngIf="onShowPage" class="pagination justify-content-center text-primary my-4">
            <i (click)='firstPage()' class="btn btn-outline-info far fa-hand-point-up fa-lg"></i>
            <i (click)='prePage()' class="btn btn-outline-info mx-3 far fa-hand-point-left fa-lg"></i>
            <i (click)='nextPage()' (click)="pointTest()" class="btn btn-outline-info far fa-hand-point-right fa-lg"></i>
            <i (click)='lastPage()' class="btn btn-outline-info ml-3 far fa-hand-point-down fa-lg"></i>
        </div>
    </div>
    <div id="result" class="col-md-9 mt-5" style="display: none;">
        <table class="table table-striped bgr table-responsive-sm text-primary table-bordered text-center">
            <thead class="table-success h5">
                <tr>
                    <th scope="col">Môn Thi</th>
                    <th scope="col">Điểm Thi</th>
                    <th scope="col">Thời Gian Làm Bài</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-black h5">
                    <td *ngIf="!selectSubject" class="align-middle">{{subject.Name}}</td>
                    <td *ngIf="selectSubject" class="align-middle">{{selectSubject.Name}}</td>
                    <td class="align-middle">{{point}}</td>
                    <td id="timer-2" class="align-middle"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>